<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">

    <button mat-icon-button (click)="sidenav.toggle()">

      <mat-icon>menu</mat-icon>

    </button>

    <h1 class="example-app-name">{{test}}</h1>

  </mat-toolbar>

 

  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #sidenav mode="over">

      <mat-nav-list>

        <a mat-list-item (click)="sidenav.toggle()" routerLink="/customer">Customer Details</a>

        <a mat-list-item (click)="sidenav.toggle()" routerLink="/products">Product Details</a>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

      <!-- <app-customer-table></app-customer-table> -->

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>