<div class="container-fluid" >
    <!-- <div class="container" style="background-color:lightblue"> -->
        <div class="row">
            <div class="col-md-8 offset-md-1">
                <ag-grid-angular   #agGrid
                style="top : 100px;width: 1300px; height: 500px;"
                class="ag-theme-balham"
                [rowData]="rowData"
                [rowSelection]="rowSelection"
  
                [frameworkComponents]="frameworkComponents"
                (gridReady)="onGridReady($event)"
                (getSelectedRows) = "getSelectedRows()"
                (rowClicked)="onRowClick($event)"
                [gridOptions]="gridOptions"
                [columnDefs]="columnDefs">
                </ag-grid-angular>
            </div>
        </div>
    <!-- </div> -->
  </div>