<div class="container">
    <div class="row">
        Title
    </div>
    <div class="row">
        <div class="col-12">
            <ag-grid-angular #agGrid style="width: 800px; height: 500px;"
            class="ag-theme-balham"
            [rowData]="rowData"
            [rowSelection]="rowSelection"
            [gridOptions]="gridOptionsRight"
            [frameworkComponents]="frameworkComponents"
            (gridReady)="onGridReady($event)"
            (getSelectedRows)="getSelectedRows()"
            (rowClicked)="onRowClick($event)"
            [columnDefs]="columnDefs">
            </ag-grid-angular>
        </div>
    </div>
</div>