<!-- <form [formGroup]="productDetailForm" class="normal-form">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <label>Product Iddddd </label>
        <input type="text" formControlName='product_id' class="form-control" >
        <label>Product Name</label>
        <input type="text">
        <label>Product Price</label>
        <input type="text">
      </div>
      <div class="col-md-8">
        <label>Product Quantity</label>
        <input type="text">
        <label>Product Pincode</label>
        <input type="text">
      </div>
    </div>
  </div>
</form> -->
 
 
<form [formGroup]="productDetailForm" class="normal-form">
  <mat-grid-list cols='2' rowHeight='300px'>
      <mat-grid-tile>
          <div class="controles-container">
              <!-- <input type="hidden" formControlName="$key"> -->
              <mat-form-field>
                  <input formControlName="product_id" matInput placeholder="Product ID">
              </mat-form-field>
              <mat-form-field>
                  <input formControlName="product_name" matInput placeholder="Product Name">
              </mat-form-field>
              <mat-form-field>
                  <input formControlName="product_price" matInput placeholder="Product Price">
              </mat-form-field>
              <mat-form-field>
                  <input formControlName="product_quantity" matInput placeholder="Product Quantity">
              </mat-form-field>
              <mat-form-field>
                  <input formControlName="product_pincode" matInput placeholder="Product Pincode">
              </mat-form-field>
          </div>
      </mat-grid-tile>
  </mat-grid-list>
  <div mat-dialog-actions align="center">
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button cdkFocusInitial [mat-dialog-close]="data">Ok</button>
  </div>
</form>